{% extends "masterpage.html" %}
{% block title %}List{% endblock %}
{% block content %}
    <div class="petitform">
        <h1>Nouvelle institution</h1>

        <form method="post" action="/parametrage/codeprogram/controllercodeprogram/">{% csrf_token %}
            <input type="hidden" value="{{ action }}" name="action">
            <table>
                <tr>
                    <td><label>Domaine :</label></td>
                    <td>

                        <select name="domaine" required="" onchange="loadmention(this.value)">
                            <option></option>
                            <option value="{{ domaine.ST }}">Science & Technologie</option>
                            <option value="{{ domaine.EG }}">Economie & Gestion</option>
                            <script>
                                function loadmention(value) {
                                    var select=document.getElementById('mention1')
                                    document.getElementById('specialite').innerHTML = "";
                                    if (value =='{{domaine.ST}}'){
                                        select.innerHTML = "";
                                        select.add(new Option('',''),length);
                                        select.add(new Option('Science informatique','{{ mention.SI | safe}}'),length);
                                    }else{
                                        select.innerHTML = "";
                                        select.add(new Option('',0),length);
                                        select.add(new Option('Economie & Gestion','{{mention.EG | safe}}'),length);
                                    }

                                }
                            </script>
                        </select>
                    </td>
                    <td><strong>{{ error1 }}</strong></td>
                </tr>
                <tr>
                    <td><label>Mention :</label></td>
                    <td>
                        <select name="mention" required="" id="mention1" onchange="loadspecialite(this.value)">
                            <option></option>
                            <script>
                                function loadspecialite(value) {
                                    var select=document.getElementById('specialite')
                                    if (value =='{{mention.SI | safe}}'){
                                        select.innerHTML = "";
                                        select.add(new Option('',''),length);
                                        select.add(new Option('Telecom','{{ specialite.TEL | safe}}'),length);
                                        select.add(new Option('Base de données','{{ specialite.BDD| safe}}'),length);
                                        select.add(new Option('Organisation Network Economie','{{ specialite.ONE | safe}}'),length);
                                        select.add(new Option('Rien','{{ specialite.NOSP | safe}}'),length);
                                    }else{
                                        console.log(value);
                                        select.innerHTML = "";
                                        select.add(new Option('',0),length);
                                        select.add(new Option('Science comptable','{{ specialite.SC | safe}}'),length);
                                        select.add(new Option('Science de l\'entreprise','{{ specialite.SDE| safe}}'),length);
                                        select.add(new Option('Organisation Network Economie','{{ specialite.ONE | safe}}'),length);
                                        select.add(new Option('Rien','{{ specialite.NOSP | safe}}'),length);
                                    }
                                }
                            </script>
                        </select>
                        <!--<option>{{ mention.EG }}</option>-->
                    </td>
                    <td><strong>{{ error1 }}</strong></td>
                </tr>

                <tr>
                    <td><label>Spécialité :</label></td>
                    <td>
                        <select name="specialite" id="specialite" required="">
                            <option></option>
                        </select>
                    </td>
                    <td><strong>{{ error1 }}</strong></td>
                </tr>
                <tr>
                    <td><label>Type de cours :</label></td>
                    <td>
                        <select name="typecours" required="">
                            <option></option>
                            <option value="O">Obligatoire</option>
                            <option value="Op">Optionnel</option>
                        </select>
                    </td>
                    <td><strong>{{ error1 }}</strong></td>
                </tr>
                <tr>
                    <td><label>Langue :</label></td>
                    <td>
                        <select name="langue" required="">
                            <option></option>
                            <option value="A">Anglais</option>
                            <option value="F">Francais</option>
                        </select>
                    </td>
                    <td><strong>{{ error1 }}</strong></td>
                </tr>

                <tr>
                    <td></td>
                    <td align="right"><input type="submit" value="Créer code"></td>
                    <td></td>
                </tr>
            </table>
        </form>
    </div>
{% endblock %}