{% extends "masterpage.html" %}
{% block title %}List{% endblock %}
{% block content %}
{% load staticfiles %}
<div class="list">
    <h1>Utilisateur</h1>
    <table class="table" summary="Meeting Results">
        <thead>
        <tr>
            <th colspan="6" style="background: #fff;height:50px"><a href="form/" style="margin-left:5px">Créer nouveau</a>
            </th>
        </tr>
        <tr>
            <th>Programme</th>
            <th>Code cours</th>
            <th>Crédits ECTS</th>
            <th>Format</th>
            <!--<th>Pré requis</th>-->
            <th>Public cible</th>
            <th>Professeurs</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            {% for cours in list %}
            <tr>
                <td>{{cours.codecours.codeprogram.code }}</td>
                <td>{{cours.codecours.code}}</td>
                <td>{{cours.ects}}</td>
                <td>
                    <ul>
                    {% for item in cours.format %}
                        <li>{{item}}</li>
                    {% endfor %}
                    </ul>
                </td>
                <!--<td>cours.</td>-->
                <td>
                    <ul>
                    {% for item in cours.public %}
                        <li>{{item}}</li>
                    {% endfor %}
                    </ul>
                </td>
                <td>
                    <ul class="menuprof">
                        <li>Voir
                            <ul>
                                <li style="width: 100%;"><a href="/admin/cours/affectation/{{cours.id}}/">Ajouter</a></li>
                                {% for professeur in cours.prof.all %}
                                <li style="width: 100%;"><a href="/viewcv/{{professeur.id}}/"> {{professeur.nom}}</a></li>
                                {% endfor %}
                            </ul>
                        </li>

                    </ul>
                </td>
                <td>
                    <ul class="menuprof">
                        <li><a href="/admin/cours/details/{{cours.id}}/">Voir détails cours</a>
                            <ul>
                                <li><a href="/objectifcours/{{cours.id}}/">Objectifs</a></li>
                                <li><a href="/plancours/{{cours.id}}/">Plan</a></li>
                                <li><a href="/ressourcecours/{{cours.id}}/">Ressources</a></li>
                                <li><a href="/evaluationcours/{{cours.id}}/">Evaluation</a></li>
                                <li><a href="/affectationcours/{{cours.id}}/">Affectation</a></li>
                            </ul>
                        </li>
                    </ul>
                </td>
                <td><a href="/deldescriptioncours/{{ cours.id }}/">Supprimer</a> </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>

        </tfoot>
    </table>
</div>
{% endblock %}