{% extends "masterpage.html" %}
{% block title %}List{% endblock %}
{% block content %}
    <div id="form" class="petitform">
        <h1>Création code d'un cours</h1><br/><br/>

        <form method="post" action="../controllercodecours/">{% csrf_token %}
            <input type="hidden" value="{{ action }}" name="action">
            <table>
                <tr>
                    <td><label>Code programme :</label></td>
                    <td>
                        <select name="program" id="program" onchange="loadgrades(this.value)">
                            <option></option>
                            {% for program in listprogram %}
                                <option value="{{ program }}">{{ program }}</option>
                            {% endfor %}
                            <script>
                                function loadgrades(value) {
                                    var select = document.getElementById('grade')
                                    document.getElementById('nomcours').innerHTML = "";
                                   document.getElementById('nomcours').add(new Option('', 0), length);
                                    if (value != '') {
                                        var tab = value.split('-');
                                        if (tab[1].toString().trim() == '{{mention.SI | safe}}'.trim() && tab[2].toString().trim() == '{{specialite.NOSP}}'.trim()) {
                                            var grades = new Array('{{grade.PROPEDEUTIQUE}}', '{{grade.LUN}}', '{{grade.LDEUX}}', '{{grade.LTROIS}}');
                                            select.innerHTML = "";
                                            select.add(new Option('', 0), length);
                                            for (i = 0; i < grades.length; i++) {
                                                select.add(new Option(grades[i], grades[i]), length);
                                            }
                                        }
                                        if (tab[1].toString().trim() == '{{mention.SI | safe}}'.trim() && (tab[2].toString().trim() == '{{specialite.TEL}}'.trim() || tab[2].toString().trim() == '{{specialite.BDD}}'.trim())) {
                                            var grades = new Array('{{grade.MASTERUN}}');
                                            select.innerHTML = "";
                                            select.add(new Option('', 0), length);
                                            for (i = 0; i < grades.length; i++) {
                                                select.add(new Option(grades[i], grades[i]), length);
                                            }
                                        }
                                        if (tab[1].toString().trim() == '{{mention.EG | safe}}'.trim() && tab[2].toString().trim() == '{{specialite.NOSP}}'.trim()) {
                                            var grades = new Array('{{grade.LUN}}', '{{grade.LDEUX}}', '{{grade.LTROIS}}');
                                            select.innerHTML = "";
                                            select.add(new Option('', 0), length);
                                            for (i = 0; i < grades.length; i++) {
                                                select.add(new Option(grades[i], grades[i]), length);
                                            }
                                        }
                                        if (tab[1].toString().trim() == '{{mention.EG | safe}}'.trim() && (tab[2].toString().trim() == '{{specialite.SC}}'.trim() || tab[2].toString().trim() == '{{specialite.SDE}}'.trim())) {
                                            var grades = new Array('{{grade.MASTERUN}}');
                                            select.innerHTML = "";
                                            select.add(new Option('', 0), length);
                                            for (i = 0; i < grades.length; i++) {
                                                select.add(new Option(grades[i], grades[i]), length);
                                            }
                                        }
                                        if (tab[2].toString().trim() == '{{specialite.ONE}}'.trim()) {
                                            var grades = new Array('{{grade.MASTERDEUX}}');
                                            select.innerHTML = "";
                                            select.add(new Option('', 0), length);
                                            for (i = 0; i < grades.length; i++) {
                                                select.add(new Option(grades[i], grades[i]), length);
                                            }
                                        }
                                    } else {
                                        select.innerHTML = "";
                                        select.add(new Option('', 0), length);
                                    }
                                }
                            </script>
                        </select>
                    </td>
                    <td><strong>{{ error1 }}</strong></td>
                </tr>
                <tr>
                    <td><label>Etablissement :</label></td>
                    <td>
                        <select name="etablissement">
                            <option></option>
                            {% for etablissment in etablissements %}
                                <option value="{{ etablissment.id }}">{{ etablissment.nom }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td><strong>{{ error1 }}</strong></td>
                </tr>
                <tr>
                    <td><label>Grade :</label></td>
                    <td>
                        <select name="grade" id="grade" onchange="loadcours(this.value)" required="">

                            <script>
                                function loadcours(value) {
                                    var select = document.getElementById('nomcours');
                                    var domaine = document.getElementById('program').value.split('-')[0];
                                    select.innerHTML = "";
                                    select.add(new Option('', 0), length);
                                    if (value != '') {

                                        if (domaine == 'ST') {
                                            if (value == '{{grade.PROPEDEUTIQUE}}') {
                                              var cours = new Array('Math', 'Francais','AdminSystemWindows', 'ProgrammationFondamental');
                                                select.innerHTML = "";
                                                select.add(new Option('', 0), length);
                                                for (i = 0; i < cours.length; i++) {
                                                    select.add(new Option(cours[i], cours[i]), length);
                                                }
                                            }
                                            if (value == '{{grade.LUN}}') {
                                                var cours = new Array('ProgrammationFondamental', 'PragrammationC', 'TechnologieWeb', 'Math');
                                                select.innerHTML = "";
                                                select.add(new Option('', 0), length);
                                                for (i = 0; i < cours.length; i++) {
                                                    select.add(new Option(cours[i], cours[i]), length);
                                                }
                                            } else {
                                                console.log(value)
                                            }
                                            if (value == '{{grade.LDEUX}}') {
                                                var cours = new Array('Java', 'Reseau', 'SGBD', 'RechercheOperationnelle');
                                                select.innerHTML = "";
                                                select.add(new Option('', 0), length);
                                                for (i = 0; i < cours.length; i++) {
                                                    select.add(new Option(cours[i], cours[i]), length);
                                                }
                                            }
                                            if (value == '{{grade.LTROIS}}') {
                                                var cours = new Array('JavaReseau', 'Telecom', 'AsservissementLineaire', 'MIS');
                                                select.innerHTML = "";
                                                select.add(new Option('', 0), length);
                                                for (i = 0; i < cours.length; i++) {
                                                    select.add(new Option(cours[i], cours[i]), length);
                                                }
                                            }
                                            if (value == '{{grade.MASTERUN}}') {
                                                var cours = new Array('DataWarehouse', 'Telecom', 'Entreprenariat', 'Python');
                                                select.innerHTML = "";
                                                select.add(new Option('', 0), length);
                                                for (i = 0; i < cours.length; i++) {
                                                    select.add(new Option(cours[i], cours[i]), length);
                                                }
                                            }
                                            if (value == '{{grade.MASTERDEUX}}') {
                                               var cours = new Array('Analyse', 'Intergral');
                                                select.innerHTML = "";
                                                select.add(new Option('', 0), length);
                                                for (i = 0; i < cours.length; i++) {
                                                    select.add(new Option(cours[i], cours[i]), length);
                                                }
                                            }
                                        }
                                        if (domaine == 'E&G') {

                                            if (value == '{{grade.LUN}}') {
                                                var cours = new Array('Probabilite','PrincipeAministration', 'MathFinanciere', 'PrincipeComptable');
                                                select.innerHTML = "";
                                                select.add(new Option('', 0), length);
                                                for (i = 0; i < cours.length; i++) {
                                                    select.add(new Option(cours[i], cours[i]), length);
                                                }
                                            } else {
                                                console.log(value)
                                            }
                                            if (value == '{{grade.LDEUX}}') {
                                                var cours = new Array('LogicielComptable','MicroEconomie', 'DroitFiscal','RechercheOperationnelle');
                                                select.innerHTML = "";
                                                select.add(new Option('', 0), length);
                                                for (i = 0; i < cours.length; i++) {
                                                    select.add(new Option(cours[i], cours[i]), length);
                                                }
                                            }
                                            if (value == '{{grade.LTROIS}}') {
                                                var cours = new Array('MicroEconomie', 'Comptailite','SGBD');
                                                select.innerHTML = "";
                                                select.add(new Option('', 0), length);
                                                for (i = 0; i < cours.length; i++) {
                                                    select.add(new Option(cours[i], cours[i]), length);
                                                }
                                            }
                                            if (value == '{{grade.MASTERUN}}') {
                                                var cours = new Array('Fiscalite', 'ComptableNational', 'GestionEtResolutionDeConflits', 'EthiqueProfessionnel');
                                                select.innerHTML = "";
                                                select.add(new Option('', 0), length);
                                                for (i = 0; i < cours.length; i++) {
                                                    select.add(new Option(cours[i], cours[i]), length);
                                                }
                                            }
                                            if (value == '{{grade.MASTERDEUX}}') {
                                               var cours = new Array('Analyse', 'Intergral');
                                                select.innerHTML = "";
                                                select.add(new Option('', 0), length);
                                                for (i = 0; i < cours.length; i++) {
                                                    select.add(new Option(cours[i], cours[i]), length);
                                                }
                                            }
                                        }

                                    } else {
                                        select.innerHTML = "";
                                        select.add(new Option('', 0), length);
                                    }
                                }
                            </script>
                        </select>
                    </td>
                    <td><strong>{{ error1 }}</strong></td>
                </tr>
                <tr>
                    <td><label>Semestre :</label></td>
                    <td>
                        <select name="semestre" required="">
                            <option></option>
                            <option>{{ semestre.SUN }}</option>
                            <option>{{ semestre.SDEUX }}</option>
                        </select>
                    </td>
                    <td><strong>{{ error1 }}</strong></td>
                </tr>
                <tr>
                    <td><label>Cours :</label></td>
                    <td>
                        <select name="nomcours" id="nomcours" required="">

                        </select>

                    </td>
                    <td><strong>{{ error1 }}</strong></td>
                </tr>

                <tr>
                    <td></td>
                    <td align="right"><input type="submit" value="Créer code"></td>
                    <td></td>
                </tr>
            </table>
        </form>
    </div>
{% endblock %}