{% extends "masterpage.html" %}
{% block title %}List{% endblock %}
{% block content %}
<div class="list">
    <h1>Utilisateurs</h1>
    <table class="table" summary="Meeting Results">
        <thead>
        <tr>
            <th colspan="6" style="background: #fff;height:50px"><a href="../form/" style="margin-left:5px">Créer</a>
            </th>
        </tr>
        <tr>
            <th>Lastname</th>
            <th>Firstname</th>
            <th>Username</th>
            <th>Type</th>
            <th>Active</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for u in list %}
        <tr>
            {% ifnotequal user.username u.username %}
                <td>{{u.lastname}}</td>
                <td>{{u.firstname}}</td>
                <td>{{u.username}}</td>
                <td>{{u.type}}</td>
                <td>{{u.active}}</td>
                {% ifequal u.type "Prof" %}
                    <td><a href="/admin/user/change/{{u.id}}/">Modifier</a> <a
                    href="/admin/user/delete/{{u.id}}/">Supprimer</a></td>
                {% else %}
                    {% ifequal user.type "Super Admin" %}
                        <td><a href="/admin/user/change/{{u.id}}/">Modifier</a> <a
                        href="/admin/user/delete/{{u.id}}/">Supprimer</a></td>
                    {% endifequal %}
                {% endifequal %}

            {% endifnotequal %}
        </tr>
        {% endfor %}
        </tbody>
        <tfoot>

        </tfoot>
    </table>
</div>
{% endblock %}