{% extends "masterpage.html" %}
{% block title %}List{% endblock %}
{% block content %}
<div id="form" class="petitform">
    <h1>New user</h1><br/><br/>
    <form method="POST" action="/admin/user/controlleruser/">{% csrf_token %}
        <input type="hidden" value="{{action}}" name="action">
        <table>
            <tr>
                <td><label>Id :</label></td>
                <td>
                    <input type="text" readonly="readonly" value="{{user1.id}}" name="id">
                </td>
                <td><strong>{{error1}}</strong></td>
            </tr>
            <tr>
                <td><label>Type d'utilisateur :</label></td>
                <td>
                    <select required="" name="type">
                        <option>{{ user1.type }}</option>
                        <option>{{type.PROF}}</option>
                        <option>{{type.ADMIN}}</option>
                    </select>
                </td>
                <td><strong>{{error1}}</strong></td>
            </tr>
            <tr>
                <td><label>Compte :</label></td>
                <td>
                    <input type="text" name="username" required="" value="{{user1.username}}"/>
                </td>
                <td><strong>{{error2}}</strong></td>
            </tr>
            <tr>
                <td><label>Mot de passe :</label></td>
                <td>
                    <input type="password" name="password" required=""/>
                </td>
                <td><strong>{{error3}}</strong></td>
            </tr>
            <tr>
                <td><label>Prénom :</label></td>
                <td>
                    <input type="text" name="firstname" required="" value="{{user1.firstname}}"/>
                </td>
                <td><strong>{{error4}}</strong></td>
            </tr>
            <tr>
                <td><label>Nom :</label></td>
                <td>
                    <input type="text" name="lastname" required="" value="{{user1.lastname}}"/>
                </td>
                <td><strong>{{error5}}</strong></td>
            </tr>
            <tr>
                <td><label>Email :</label></td>
                <td>
                    <input type="email" name="email" required="" value="{{user1.email}}"/>
                </td>
                <td><strong>{{error6}}</strong></td>
            </tr>
             <tr>
                <td></td><td  align="right"><input type="submit" value="Enregistrer"></td><td></td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}